@media screen and (max-width: 700px){
    .grid-container{
        padding: 10px;
    }
    .child-2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .child-2 .left{
        width: 100%;
        text-align: center;
        justify-content: center;
    }
      .child-2 .right{
        width: 100%;
        text-align: center;
    }
    .child-2 .right img{
        width: 30%;
        height: auto;
    }

    /* child-3 */
    .child-3 .cards{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}
