*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    color: white;
    font-family: "Poppins";
}
.grid-container{
    max-width: 1800px;
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px auto auto auto auto;
    padding: 10px 50px;
    gap: 10px;
    z-index: 1;

}
.child{
    /* border: 2px solid skyblue; */
}

/* Header */
.child-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.child-1 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #666465;
    border-radius: 50%;
    text-decoration: none;
    font-weight: 700;
    color: white;
    outline: 2px solid rgba(245, 245, 245, 0.622);
}

.child-1 nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-1 nav ul{
    background-color: rgba(255, 255, 255, 0.105);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    list-style: none;
    gap: 40px;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 25px;
    outline: 2px solid rgba(245, 245, 245, 0.622);

}
.child-1 nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 0.9rem;
}
.child-1 .talk-btn{
    padding: 8px 10px;
    border-radius: 5px;
    border: 0;
    background-color: #666465;
    outline: 2px solid rgba(245, 245, 245, 0.622);
    color: white;
    font-size: 0.9rem;
    font-family: "Poppins";
    cursor: pointer;
}

/* main section */
.child-2{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    z-index: 1;
}
.child-2 .left{
    z-index: 1;
}
.child-2 .left .greeting{
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.child-2 .left h1{
    font-size: 3rem;
    line-height: 1.1;
    color: #a39da0;
    font-weight: 600;
}
.child-2 .left .summary{
    margin-top: 15px;
    line-height: 1.8;
    color: #aaa6a9;
    font-weight: 500;
}
.child-2 .left .cv{
    width: 25%;
    padding: 15px 0;
    border: 0;
    font-family: "Poppins";
    font-weight: 600;
    color: #fff;
    background-color: #666465;
    outline: 2px solid rgba(245, 245, 245, 0.622);
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    white-space: nowrap;

}
.child-2 .left .social-icons a{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #666465;
    outline: 2px solid rgba(245, 245, 245, 0.622);
    border-radius: 50%;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    margin-top: 30px;
}
.child-2 .left .social-icons a i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.3rem;
}

.child-2 .right img{
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(4, 96, 216, 0.5));
}

.child-2 .center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: -1; */
}

/* child-3 */
.child-3{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px 0;
    z-index: 1;

}
.child-3 .heading{
    text-align: center;
}

.child-3 .heading .main-heading{
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 13px;
}
.child-3 .heading .sub-heading{
    margin-bottom: 35px;
}

.child-3 .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.child-3 .cards .card{
    width: 20rem;
    height: 25rem;
    border: 2px solid white;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 0;
    outline: 1px solid rgba(192, 192, 192, 0.442);
    transition: all 0.2s linear;
}
.child-3 .cards .card:hover{
    transform: translateY(-5px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.child-3 .cards .card h1{
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 10px;
    font-weight: 500;
}
.child-3 .cards .card p{
    font-size: 1rem;
    line-height: 2;
    margin-bottom: 30px;
    font-weight: 500;
}
.child-3 .cards .card .btn-link{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(231, 216, 216, 0.166);
}
.child-3 .cards .card .btn-link a{
    width: 100%;
    background-color: #ffffff0c;
    backdrop-filter: blur(10px);
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    font-size: .9rem;
}

/* child-4 */
.child-4{
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.child-4 .heading-sec{
    text-align: center;
}
.child-4 .heading-sec h1{
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 13px;
}
.child-4 .heading-sec p{
    margin-bottom: 35px;
}
.child-4 .content h1{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.child-4 .sm-sec{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;
}
.child-4 .content .sm-sec .sec{
    width: 28rem;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(10px);
    outline: 1px solid rgba(192, 192, 192, 0.442);
    border-radius: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.child-4 .content .sm-sec .sec span{
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: black;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-right: 10px;
}
.child-4 .content .experience{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.child-4 .content .experience h2{
    margin-top: 30px;
    text-align: center;
}

/* skills */
.child-5{
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.child-5 .upper-sec{
    text-align: center;
}
.child-5 .upper-sec h1{
     font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 13px;
}
.child-5 .upper-sec p{
    margin-bottom: 35px;
}

.child-5 .bottom-sec{
    display: flex;
    justify-content: space-between;
    grid-area: 10px;
    height: 100%;
}
.child-5 .bottom-sec .fifth-sec-box{
    width: 20rem;
    height: 20rem;
    background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(10px);
    outline: 1px solid rgba(192, 192, 192, 0.442);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.child-5 .bottom-sec .fifth-sec-box button{
    border: 0;
    background-color: rgba(255, 255, 255, 0.038);
    backdrop-filter: blur(10px);
    outline: 1px solid rgba(192, 192, 192, 0.442);
    border-radius: 20px;
    padding: 20px;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.child-5 .bottom-sec .fifth-sec-box h2{
    margin-bottom: 30px;
}
